.wrap{width: 100%;height: 100%;overflow: hidden;}
.wrap > p{width: 90%;line-height: 2.5rem;margin: 0 auto;font-size: 15px;color: #999}
.wrap .ipt{width: auto;height: auto}
.wrap .ipt #batch_add_lshz{width: 92%;height: 80px;background: #fff;font-size: 14px;color: #999;line-height: 35px;display: block;padding: 5px 10px;border:none;margin: 0 auto;}
.wrap .ipt button{display: block;width: 90%;line-height: 40px;border: none;background-color:#2ECC71;color: #fff;margin: 30px auto;border-radius: 4px;}
